@model List<ApiProjeKampi.WebUI.Dtos.AboutDtos.ResultWyChooseYummyDto>
@{
    ViewData["Title"] = "AboutList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Hakkinda Sayfasi Listesi</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Resim Url</th>
                                    <th scope="col">Video Url(Embed Olarak)</th>
                                    <th scope="col">Video Url</th>
                                    <th scope="col">Reservasyon Numarası</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;                                 
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td>@item.VidoeCoverImageUrl</td>
                                        <td>@item.ImageUrl</td>
                                        <td>@item.VideoUrl</td>
                                        <td>@item.ReservationNumber</td>
                                        <td><a href="/About/DeleteAbout/@item.AboutId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-success">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                        @if(@count==1)
                        {
                        <a href="#" class="btn btn-info"> Mevcut hakkında </a>
                        }
                        else
                        {
                        <a href="/About/CreateAbout/" class="btn btn-info">Yeni hakkında Girişi</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
